
  
p {
    margin-bottom: 15px;
    padding-right: 15px;
    padding-left: 20px;
    flex: 1;
    max-width: 50%;
    flex-basis: 50%;
}
  

  
h2 {
    color: #00000079;
    font-size: 20px;
    line-height: 50px;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 16px;
    margin-left: 15px;

}
  
h1 {
    
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 48px;
    line-height: 1.1;
    font-weight: 600;
    color: #fc96eb;
}
  
  
#img {
    border: solid black;
    max-width: 100%;
    align-items: flex-end;
}
  
@media screen and (max-width: 991px) {
    .container {
      padding-right: 30px;
      padding-left: 30px;
    }
}
  
  

